html {
  height: 100%;
}

.column {
    float: left;
    width: 80%;
    height: : 100%;
    display: block;;
    background-color: #E0E0E0;
}

.left-pannel{
	float: left;
	padding: 5px;
    width: 15%;
    height: : 100%;
    display: block;
    background-color: #BDBDBD;
}

/* Clear floats after the columns */
.row:after {
    clear: both;
    height: 100%;
}

ul {
  list-style-type: none;
  left: 0px;
}

.mid-pannel{
	margin-left: 20%;
	margin-right: 30%;
}

.right-pannel{
	margin-left: 70%;
	padding-left: 10px;
	top: 0;
}

.my-paragraph{
	text-indent: 50px;
	text-align: justify;
}

#footer {
	height: 50px; 
	position: fixed;
	bottom: 0;
    width: 100%;/* the footer's total height */
}

#footer-content {
  text-align: center;
  padding-top: 50px;
  height: 100px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
}

.image-profile{
	border-radius: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
}

@font-face {
    font-family: 'poiret_oneregular';
    src: url('../font/righteous-regular-webfont.woff2') format('woff2'),
         url('../font/righteous-regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: ;

}
